### ekf.yaml ###
ekf_filter_node:
  ros__parameters:
    frequency: 30.0  # <--- Upsamples 10Hz input to 50Hz output
    two_d_mode: true
    publish_acceleration: false
    publish_tf: true
    map_frame: map              # We don't use map frame here, but required param
    odom_frame: odom            # The fixed frame
    base_link_frame: base_link  # The robot frame
    world_frame: odom           # EKF publishes odom -> base_link

    # --- INPUT 1: RF2O Lidar Odometry ---
    # We listen to the topic we will rename in Step 3
    odom0: /odom_rf2o
    
    # The config matrix: [x, y, z, roll, pitch, yaw, vx, vy, vz, vroll, vpitch, vyaw, ax, ay, az]
    # We ONLY fuse velocities (vx, vy, vyaw) from RF2O. 
    # This prevents the robot from "jumping" if the lidar matches wrongly for a frame.
    odom0_config: [false, false, false,
                   false, false, false,
                   true,  true,  false,
                   false, false, true,
                   false, false, false]
                   
    odom0_differential: false

    odom0_pose_rejection_threshold: 15.0
    odom0_twist_rejection_threshold: 15.0

    # 2. Time Synchronization
    # Allow 0.2s of slop for network/processing delay

    odom0_queue_size: 2
    transform_time_buffer: 0.2
    transform_timeout: 0.2

    predict_to_current_time: true